main {
    width: 1280px;
}

.keyboard {
    display: grid;
    border: 1px solid;
    padding: 10px;
    position: relative;
    overflow: hidden;
    background: gray;
}

.keyboard__row {
    display: grid;
    gap: 10px;
  }

.keyboard__key {
display: flex;
cursor: pointer;
flex-direction: column;
justify-content: center;
align-items: center;
border: 1px solid;
height: 50px;
}